.formularioContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
}

.subTitulo {
    padding: 15px 0 ;
    border-top: 2px solid var(--blanco);
    border-bottom: 2px solid var(--blanco);
}