.listaOpciones label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font2);
    margin-bottom: 8px;
}

.listaOpciones select {
    width: 100%;
    background-color: var(--blanco);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 15px 20px;
    outline-color: var(--azul);
    font-size: 16px;
    border-radius: 10px;
}